<main class="container-fluid form-container">
            <h1 class="titulo">CONTACTANOS</h1>
            <form action="/contacto" method="POST" class="contact-form">
                    <ul>
                        <li><label for="nombre" class="titulo form-nombre">Nombres y apellido/s: </label><input
                                type="text" name="nombre" id="in-nombre" class="form-in form-nombre" required></li>
                        <li><label for="gmail" class="titulo form-gmail">Correo Electronico : </label> <input
                                type="email" name="gmail" required id="in-gmail" class="form-in form-gmail"></li>
                        <li> <label for="mensaje" class="titulo form-mensaje">Escribi tu mensaje : </label> <br><br><textarea
                                name="mensaje" required id="area-mensaje" class="form-mes" cols="60" rows="20"></textarea>
                        </li>


                    </ul>
                    <button type="submit">Enviar</button>
                    
            </form>
            {{message}}
</main>