<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presentación foro del cubero</title>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lato:wght@400;900&display=swap"
        rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
</head>

<body>
    {{!-- INICIO NUEVO HTML, EN CASO DE ERROR BORRAR --}}

    <main>
        <div class="bienvenida container-fluid" style="background-image:url(images/Rubik-izq.jpg);">
            <div class="animated-text">
                <h1 class="titulo"><u>Bienvenido/a a Cubers</u></h1>
                <h2 class="titulo">El foro del cubero</h2>

                <p class="texto">¡Bienvenido a cubers!
                    <br>
                    Dentro de este foro podras encontrar toda la información actual
                    acerca del cubo de Rubik, desde su creación, las competencias actuales y los actuales campeones del
                    mundo.
                    <br>
                    ¡Esperamos que los disfrutes!.
                </p>
            </div>

        </div>
        <article id="articulos">

            <h1 class="titulo">NUESTROS ARTICULOS</h1>
            <div class="noticias">
                <a href="/historia" class="card-link" id="historia-art">
                    <div class="card articulo">
                        <img src="images/ERNO.jpg" class="card-img-top" alt="Articulo d la historia del cubo">
                        <div class="card-body">
                            <h1 class="titulo">La historia detras del cubo de Rubik</h1>
                            <p class="card-text">Descubre la increible historia detras del juegute mas vendido del
                                mundo.

                                La historia de su creador,<u>Erno Rubik</u>, que pretendia con el primer Cubo Rubik,
                                como se volvio un jueguete y como comenzo a popularizarse.
                                <br>
                                ¡NO TE LO PODES PERDER!
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/actualidad" class="card-link" id="WCA-art">
                    <div class="card articulo">

                        <img src="images/wca-logo.png" class="card-img-top" alt="Logo de la WCA ">
                        <div class="card-body">
                            <h1 class="titulo">Competividad en la actualidad</h1>
                            <p class="card-text">Descubre que es y de que se encarga la asociación mundial del cubo
                                Rubik(WCA, por sus siglas en ingles). <br>Desde su origen en los foros de internet,
                                hasta
                                regular y administrar las competiciones actuales. <br> <u><b> ¡ Y MUCHO MAS!</b></u>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </article>
        <br><br><br>
        



    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>

</html>